.add-todo-input {
    background: #262626;
    color: #808080;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #0D0D0D;
}


.add-todo-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background: #1E6F9F;
    border-radius: 8px;
    cursor: pointer;
}